@font-face {
  font-family: FuturaNewBook;
  src: url('/fonts/Futurabook.eot');
  src:
       url('/fonts/Futurabook.woff') format('woff'),
       url('/fonts/Futurabook.ttf') format('truetype'),
       url('/fonts/Futurabook.svg#Futurabook') format('svg');
       /*url('../fonts/Futurabook.eot?#iefix') format('embedded-opentype');*/
  font-weight: normal;
  font-style: normal;
}



@font-face {
    font-family: FuturaBold;
    src: url('/fonts/Futurabold.eot');
    src: url('/fonts/Futurabold.woff') format('woff'),
    url('/fonts/Futurabold.ttf') format('truetype');
    url('/fonts/Futurabold.svg#Futurabook') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: FuturaRegular;
    src: url('/fonts/futuraregular.eot');
    src:
            url('/fonts/futuraregular.woff') format('woff'),
            url('/fonts/futuraregular.woff2') format('woff2'),
            url('/fonts/futuraregular.ttf') format('truetype'),
            url('/fonts/futuraregular.svg#Futurabook') format('svg');
    /*url('../fonts/Futurabook.eot?#iefix') format('embedded-opentype');*/
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: FuturaNewBold;
    src: url('/fonts/futuranewbold.eot');
    src:
            url('/fonts/futuranewbold.woff') format('woff'),
            url('/fonts/futuranewbold.woff2') format('woff2'),
            url('/fonts/futuranewbold.ttf') format('truetype'),
            url('/fonts/futuranewbold.svg#Futurabook') format('svg');
    /*url('../fonts/Futurabook.eot?#iefix') format('embedded-opentype');*/
    font-weight: normal;
    font-style: normal;
}
